﻿@model List<WebApplication7.DAL.Sp_Telefono>
@{
    ViewBag.Title = "Publicaciones";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Publicaciones</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item active">Publicaciones</li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item">Servicio al cliente</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Telefonos publicados
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id. Telefono</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            <th>Especs</th>
                            <th>Precio</th>
                            <th>Aprobado</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id. Telefono</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Estado</th>
                            <th>Especs</th>
                            <th>Precio</th>
                            <th>Aprobado</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var telefono in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf(telefono)+1)</td>
                                <td>@telefono.Marca</td>
                                <td>@telefono.Modelo</td>
                                <td>@telefono.Estado</td>
                                <td>@telefono.Especs</td>
                                <td>@telefono.Precio</td>
                                <td>@telefono.EsActivo</td>
                                <td>
                                    @Html.ActionLink("Editar", "UpdatePubli", new { IdTelefono = telefono.IdTelefono })

                                </td>
                                
                                <td>
                                    @Html.ActionLink("Eliminar", "EliminarPubli", new { IdTelefono = telefono.IdTelefono })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

