﻿@model List<WebApplication7.DAL.Sp_Ticket>
@{
    ViewBag.Title = "ServicioCliente";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Servicio al Cliente</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Publicaciones</li>
        <li class="breadcrumb-item">Usuarios</li>
        <li class="breadcrumb-item active">Servicio al cliente</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Tickets recibidos
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id. Ticket</th>
                            <th>Enviado por</th>
                            <th>Descripcion</th>
                            <th>Respondido</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id. Ticket</th>
                            <th>Enviado por</th>
                            <th>Descripcion</th>
                            <th>Respondido</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var ticket in Model)
                        {

                            <tr>
                                <td>@(Model.IndexOf(ticket)+1)</td>
                                <td>@ticket.Email</td>
                                <td>@ticket.Descripcion</td>
                                <td>@ticket.EsActivo</td>

                                <td>
                                    @Html.ActionLink("Editar", "UpdateTicket", new { IdTicket = ticket.IdTicket })

                                </td>

                                <td>
                                    @Html.ActionLink("Eliminar", "EliminarTicket", new { IdTicket = ticket.IdTicket })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


