﻿@model IEnumerable<WebApplication7.DAL.Sp_Usuarios>

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="mt-4">Usuarios</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="Dashboard">Dashboard</a></li>
        <li class="breadcrumb-item">Publicaciones</li>
        <li class="breadcrumb-item active">Usuarios</li>
        <li class="breadcrumb-item">Servicio al cliente</li>
    </ol>

    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            Usuarios registrados
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id. Usuario</th>
                            <th>Rut Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Email</th>
                            <th>¿ Cuenta activa ?</th>
                            <th>Nombre rol</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id. Usuario</th>
                            <th>Rut Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Direccion</th>
                            <th>Ciudad</th>
                            <th>Email</th>
                            <th>¿ Cuenta activa ?</th>
                            <th>Nombre rol</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var usuarios in Model)
                        {

                        <tr>
                            <td>@usuarios.IdUsuario</td>
                            <td>@usuarios.RutUsuario</td>
                            <td>@usuarios.Nombre</td>
                            <td>@usuarios.Apellido</td>
                            <td>@usuarios.Direccion</td>
                            <td>@usuarios.Ciudad</td>
                            <td>@usuarios.Email</td>
                            @if (usuarios.EsActivo == true || usuarios.EsActivo == null)
                            {
                                <td>Cuenta activa</td>
                            }
                            else
                            {
                                <td>Cuenta desactivada</td>
                            }

                            <td>@usuarios.Sp_Roles.NombreRol</td>
                            <td>
                                @Html.ActionLink("Editar", "UpdateUser", new { IdUsuario = usuarios.IdUsuario })

                            </td>


                        </tr>
                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
</div>
