﻿@using WebApplication7.Models.Home;
@using WebApplication7.Models;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/EstiloUser/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap" rel="stylesheet">

  

</head>

<body>
    <!-- ir arriba -->
    <div class="go-top">
        <span><i class="fas fa-angle-up"></i></span>
    </div>


    <!--Menu de navegacion-->
    <header  id="header">
        <nav   class="menu">

            <div class="logo-box">
                <h1><a href="/Home/Index">Sell-Phone</a></h1>
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>

            <div style="margin-top:25px" class="list-container">
                <ul class="lists">
                    <li><a href="/Home/Index" class="">Inicio</a></li>
                    <li><a href="/Home/Comprar">Comprar</a></li>
                    <li><a href="/Home/AgregarPubli">Vender</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Carrito(1) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["carro"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["carro"])
                                {
                                    <li><a href="@Url.Action("RemoveCarrito","Home", new { IdTelefono = item.Telefono.IdTelefono})">@item.Telefono.Marca @item.Telefono.Modelo (@item.Cantidad) <i class="fa fa-times"></i></a> Precio $ @item.Telefono.Precio</li>




                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>

                        </ul>
                    </li>
                    @if (Session["User"] == null)
                    {
                        <li><a href="/Acesso/Login"> Iniciar Sesión</a></li>
                        <li><a href="/Acesso/Registrar"> Registrarse</a></li>
                    }
                    else
                    {
                        <li>
                            Bienvenido @HttpContext.Current.Session["ValorCorreo"]
                        </li>
                        <li><a href="@Url.Action("Dashboard", "User")">Mi Cuenta</a></li>
                        <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion")</li>
                    }
                    @if (Session["Admin"] != null)
                    {
                        <li><a href="@Url.Action("Dashboard", "Admin")">Admin</a></li>
                    }


                    <!--arrobaHtml.Partial("_LoginPartial")-->

                </ul>

                <script type="text/javascript">
                    const currentLocation = location.href;
                    const menuItem = document.querySelectorAll('a');
                    const menuLength = menuItem.length
                    for (let i = 0; i < menuLength; i++) {
                        if (menuItem[i].href === currentLocation) {
                            menuItem[i].className = "active"
                        }
                    }



                </script>

            </div>

        </nav>


        <!-- img heater -->


    </header>




    @RenderBody()



    <footer style=" font-size:18px;font-family: sans-serif; color: whitesmoke;  width: 100%;height:50px;bottom: 0;position:fixed;background:black" class="sticky-footer">


        <div class="container my-auto">


            <div class="copyright text-center my-auto">
                <span>© SellPhone.com | Derechos Reservados</span>
            </div>
        </div>
    </footer>


    <script src="https://kit.fontawesome.com/c5eaa4f833.js"></script>
    <script src="~/EstiloUser/js/app.js"></script>
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>
