﻿@using WebApplication7.Models.Home;
@using WebApplication7.Models;

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    <link rel="stylesheet" href="/EstiloUser/css/style.css">

    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

</head>
<body>

    <header id="header">
        <nav class="menu">

            <div class="logo-box">
                <h1><a href="/Home/Index">Sell-Phone</a></h1>
                <span class="btn-menu"><i class="fas fa-bars"></i></span>
            </div>

            <div style="margin-top:25px" class="list-container">
                <ul class="lists">
                    <li><a href="/Home/Index" class="">Inicio</a></li>
                    <li><a href="/Home/Comprar">Comprar</a></li>
                    <li><a href="/Home/AgregarPubli">Vender</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Carrito(1) <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @if (Session["carro"] != null)
                            {
                                foreach (Item item in (List<Item>)Session["carro"])
                                {
                                    <li><a href="@Url.Action("RemoveCarrito","Home", new { IdTelefono = item.Telefono.IdTelefono})">@item.Telefono.Marca @item.Telefono.Modelo (@item.Cantidad) <i class="fa fa-times">X</i></a> Precio $ @item.Telefono.Precio</li>




                                }
                            }
                            <li class="divider"></li>
                            <li><a href="@Url.Action("Checkout","Home")">Checkout</a></li>

                        </ul>
                    </li>
                    @if (Session["User"] == null)
                    {
                        <li><a href="/Acesso/Login"> Iniciar Sesión</a></li>
                        <li><a href="/Acesso/Registrar"> Registrarse</a></li>
                    }
                    else
                    {
                        <li>
                            Bienvenido @HttpContext.Current.Session["ValorCorreo"]
                        </li>
                        <li>@Html.ActionLink("Cerrar Sesion", "CerrarSesion")</li>
                    }

                    <!--arrobaHtml.Partial("_LoginPartial")-->

                </ul>

                <script type="text/javascript">
                    const currentLocation = location.href;
                    const menuItem = document.querySelectorAll('a');
                    const menuLength = menuItem.length
                    for (let i = 0; i < menuLength; i++) {
                        if (menuItem[i].href === currentLocation) {
                            menuItem[i].className = "active"
                        }
                    }



                </script>

            </div>

        </nav>


        <!-- img heater -->


    </header>


    @RenderBody()

    <!--footer-->
<div style="background: #303036;color: #d3d3d3;height: 50px;position:relative; text-align:center" class="pie">


    <div style="color:#d3d3d3;height:50px;position:absolute;padding-top:20px;" class="pie-bottom">
        <p style="text-align:center">&copy; SellPhone.com | Derechos Reservados.</p>
    </div>
</div>
    
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</html>