﻿@model IEnumerable<WebApplication7.DAL.Sp_Boleta>

@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .com {
        background: var(--red);
        margin-top:10px;
        text-align:left;
        height:50px;
        color:black
    }

</style>

<body>



    <header>


        <div style="height: 200px; background:url('../../EstiloUser/img/img-8.jpg');	position: relative;	background-attachment: fixed;
	background-position:center;
	background-size:cover;" " class="img-header">
            <div class="welcome">
                <h1>Compras</h1>
                <hr>


            </div>
        </div>
    </header>
    
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdBoleta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sp_Telefono.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sp_Telefono.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                Vendido por:
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.IdBoleta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sp_Telefono.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sp_Telefono.Modelo)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sp_Telefono.Sp_Usuarios.Nombre) @Html.DisplayFor(modelItem => item.Sp_Telefono.Sp_Usuarios.Apellido)
                </td>


            </tr>
        }

    </table>

</body>
