﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <style>
 

        body {
            background: url('../../EstiloUser/img/img-14.jpg');
            background-position: top;
            background-attachment: fixed;
        }

            body:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0.5);
            }
        .btt {
            text-align: center;
            font-size: 30px;
            margin: 0px auto;
           
            border-radius: 10px;
            width: 300px;
            margin-top: 30px;
            background-color: #fb7813;
        }

            .btt:hover {
                background: var(--blue)
            }
    </style>
    <html>

    <body>


        <div style="color:#ffffff; text-align:center;margin-top:100px;position:relative" class="welcome">
            <h1 style="font-size:60px">Mi cuenta</h1>
            <hr style="background: #fff; width: 50%; margin: 10px auto;">


        </div>
        <div style="margin-top:200px;position:relative">

            <div class="btt">
                <a style="color:white" class="nav-link" href="~/User/Compras">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Mis Compras</span>
                </a>
            </div>
            <div class="btt">
                <a style="color:white" class="nav-link" href="~/User/Ventas">
                    <i class="fas fa-fw fa-table"></i>
                    <span style="margin-right:35px">Mis Ventas</span>
                </a>
            </div>

        </div>












        
    </body>
   
 

    <!-- Icon Cards-->
    <!-- /.container-fluid -->
    <!-- Sticky Footer -->

    </html>
