﻿@model WebApplication7.DAL.Sp_Telefono

@{
    ViewBag.Title = "EliminarVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EliminarVenta</h2>

<h3>¿Estás seguro de eliminar esto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            Aprobado?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EsActivo)
        </dd>


        <dt>
            Publicado por:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sp_Usuarios.RutUsuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Ventas")
        </div>
    }
</div>
