﻿@model IEnumerable<WebApplication7.DAL.Sp_Telefono>

@{
    ViewBag.Title = "Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .com {
        background: var(--red);
        margin-top: 10px;
        text-align: left;
        height: 50px;
        color: black
    }
</style>
<body>



    <header>


        <div style="height: 200px; background:url('../../EstiloUser/img/img-8.jpg');	position: relative;	background-attachment: fixed;
	background-position:center;
	background-size:cover;" " class="img-header">
            <div class="welcome">
                <h1>Publicaciones creadas por ti</h1>
                <hr>


            </div>
        </div>
    </header>

    <!--@ViewBag.IdUsuario;-->



    <table class="table">
        <tr>
            <th>
                Id Publicación
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especs)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                ¿Aprobado?
            </th>
            <th>
                ¿Vendido?
            </th>
            <!--
            <th>
                @Html.DisplayNameFor(model => model.Sp_Usuarios.IdUsuario)
            </th>
                -->
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdTelefono)
            </td>
            <td>

                    @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especs)
            </td>
            <td>
                $@Html.DisplayFor(modelItem => item.Precio)
            </td>
            <!--<td>
                <img class="" title="FotoTelefono" asp-action="DetallesPubli" asp-route-id="@item.IdTelefono"
                     style="cursor:pointer;height:250px; "
                     src="~/TelefonoImg/@item.Foto" />
            </td>
                -->

            <td>
                @if (item.EsActivo == true)
                {


                <p>Aprobado</p>
            }
            else
            {
                <p>No</p>
            }
</td>
<td>
    @if (item.Vendido == true)
    {
        <p>Vendido</p>
    }
    else
    {
        <p>No</p>
    }
</td>

<!--<td>
    @Html.DisplayFor(modelItem => item.Sp_Usuarios.IdUsuario)
</td>
    -->
<td>
    @Html.ActionLink("Editar", "UpdateVenta", new { IdTelefono = item.IdTelefono }) |

    @Html.ActionLink("Borrar", "EliminarVenta", new { IdTelefono = item.IdTelefono })
</td>
</tr>

        }

</table>
</body>