:root{
	--red:#fb7813;
	--black:#252a34;
	--blue:#84a9ac;
	--white:#e7dfd5;

}

*{
	margin:0;
	padding:0;
	box-sizing: border-box; 
}

body{
	background: #fff;
	overflow-x: hidden; 
	font-family: 'Raleway', sans-serif;
}

/**go top**/
.go-top{
	position: fixed;
	bottom: 100px;
	right: 0;
	width: 50px;
	height: 50px;
	border: 2px solid var(--red);
	background: #fff;
	z-index: 9999;

	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: 400ms;

}
.go-top:hover{
	border: 2px solid var(--white);
	background: var(--red);

}
.go-top:hover span{
	color: var(--white);
}

.go-top span{
	font-size: 30px;
	color: var(--black);
}

/** login **/

.bg-modal{
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;

}


.modal-content{
	width: 500px;
	height: 300px;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	padding: 20px;
	position: relative;
}

.bg-modal .modal-content > i{
	width: 50%;
	padding: 20px;
	margin-top: 20px;
	display: block;
	margin: 15px auto;
}

.bg-modal .modal-content input{
		width: 90%;
     	height: 35px;
     	margin: auto;
     	border:2px solid var(--red);
     	border-radius: 24px;
     	outline: none;
     	text-align: center;
        font-size: 17px;
        color: var(--black);
}

.close{
	position: absolute;
	top: 0;
	right: 14px;
	font-size: 25px;
	cursor: pointer;
}

.form-group {
	margin-bottom: 1rem;
}

.bg-modal .modal-content .submit > button{
	width: 170px;
	height: 40px;
	background: var(--red);
	border-radius: 24px;
	border: none;
	outline: none;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.5s;
}
.bg-modal .modal-content .submit > button:hover{
	background: var(--blue);
	}


/** Menu de navegacion **/
#header{
	position: relative;
	width: 100%;
}
.menu{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	background: #fff;

	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 9999;
}

.menu .logo-box{
	margin-left: 20px;
}
.menu .logo-box h1 a{
	text-decoration: none;
	font-size: 35px;
	font-weight: 400;
	color: var(--black);
}
.menu .list-container{
	margin-right: 20px;
}

.menu .list-container .lists{
	display: flex;
}

.menu .list-container .lists li {
	list-style: none;
}

.menu .list-container .lists li a{
	text-decoration: none;
	margin: 0px 10px;
	padding: 8px;
	color: var(--black);
	border-radius: 24px;
	font-size: 16px;
	transition: 0.3s;
}

.menu .list-container .lists li a.activo{
	background: var(--red);
	color: #fff;
}

.menu .list-container .lists li a:hover{
	background: var(--red);
	color: #fff;
	}

.btn-menu > .fa-bars{
	display: none;
}
/** Menu de navegacion **/

/** IMG HEADER **/
.img-header{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url(../img/header1.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;

}

.img-header .welcome{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-header .welcome h1{
font-size: 50px;
color: #fff;
font-weight: 200;
}

.img-header .welcome hr{
	width: 400px;
	height: 2px;
	background: #fff;
	border: none;
	margin-top: 5px;
}
.img-header .welcome p{
	font-size: 20px;
	color: #fff;
	margin-top: 20px;
}

.img-header .welcome > button{
	width: 170px;
	height: 40px;
	background: var(--red);
	border-radius: 24px;
	border: none;
	outline: none;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.5s;
}

.img-header .welcome > button:hover{
	background: var(--blue);
	}


	.botonn > button {
		width: 170px;
		height: 40px;
		background: var(--red);
		border-radius: 24px;
		border: none;
		outline: none;
		font-size: 22px;
		color: #fff;
		text-align: center;
		margin-top: 20px;
		cursor: pointer;
		transition: 0.5s;
	}

		.botonn > button:hover {
			background: var(--blue);
		}




	/** nosotros **/

	.acerca-de{
		width: 100%;
		margin-top: 120px;
	}

	.acerca-de .info-container{
		width: 80%;
		margin: auto;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.acerca-de .info-container h1{
		font-size: 50px;
		font-weight: 400;
		color: var(--black);
		text-align: center;
		margin-bottom: 20px;
	}

	.acerca-de .info-container p{
		text-align: center;
		font-size: 17px;
		color: var(--black);
		line-height: 35px;
		margin: 10px 0px;
	}

	.acerca-de .info-container .about-gallery{
		width: 100%;
		display: flex;
		justify-content: center;
		margin:50px 0px;
	}

	.acerca-de .info-container .about-gallery img{
		width: calc(33.33% - 10px);
		height: 300px;
		object-fit: cover;
		margin: 10px 10px;
		border-radius: 10px;
		cursor: pointer;
	}

	.acerca-de .info-container .about-more{
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.acerca-de .info-container .about-more button{
			width: 120px;
	height: 40px;
	background: var(--red);
	border-radius: 24px;
	border: none;
	outline: none;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.5s;
	}

	.acerca-de .info-container .about-more button:hover{
		color: var(--blue);
	}

	/** comprar **/
	.our-projects{
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../img/img-2.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;
		margin-top: 100px;

	}

	.our-projects .deg-background{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.5);
	}

	.our-projects .ejeZproject{
		position: relative;
		width: 100%;
		height: 100%
	}

	.our-projects .container-project .project-title{
		border: 2px solid #fff;
		padding: 10px;
		text-align: center;
		width: 50%;
		margin: auto;
		margin-top: 20px;
	}

	.our-projects .container-project .project-title h2{
		font-size: 40px;
		color: #fff;
		font-weight: normal;
	}

	.our-projects .container-project .project-title hr{
		background: #fff;
		width: 50%;
		margin: 10px auto;
	}

	.our-projects .container-project .projet-imag{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		margin-top: 80px;
		padding-bottom: 100px;
	}

	.our-projects .container-project .projet-imag img{
		width: calc(30% - 10px);
		margin: 10px;
		object-fit: cover;
		border-radius: 10px;
		cursor: pointer;

	}

	/** testimonios **/

	.testimonios{
		width: 100%;
		margin-top: 120px;
	}

	.testimonios .testimonios-title{
		width: 50%;
		margin: auto;
		text-align: center;
	}

	.testimonios .testimonios-title h2{
		font-size: 50px;
		color: var(--black);
		font-weight: normal;
		margin-top: 10px;
	}

	.testimonios .testimonios-title hr{
		width: 60px;
		margin: auto;
		height: 2px;
		background: var(--black);	
	    border: none;
	}

	.testimonios .box-testimonios{
		width: 90%;
		margin: 80px auto;

		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.testimonios .box-testimonios .card-testimonio{
		width: 45%;
		margin: 20px;
    }

    .testimonios .box-testimonios .card-testimonio .card-img{
    	width: 100%;
    	display: flex;
    	justify-content: center;
    	align-items: center;
    }

    .testimonios .box-testimonios .card-testimonio .card-img img{
    	width: 150px;
    	height: 150px;
    	border-radius: 50%;
    	object-fit: cover;
    	cursor: pointer;
    }

    .testimonios .box-testimonios .card-testimonio .testimonio-text{
    	width: 100%;
    	border: 2px solid var(--red);
    	padding: 20px;
    	border-radius: 20px;
    	margin-top: 20px;
        cursor: pointer;
        transition: 200ms;
    }
    .testimonios .box-testimonios .card-testimonio .testimonio-text h4{
    	color: var(--red);
    	font-weight: normal;
    	font-size: 27px;
    	text-align: center;
    	margin-bottom: 20px;
    	transition: 200ms;
     }

     .testimonios .box-testimonios .card-testimonio .testimonio-text p{
     	font-size: 19px;
     	color: var(--black);
        text-align: center;
        line-height: 35px;
        transition: 200ms;
     } 

     .testimonios .box-testimonios .card-testimonio .testimonio-text:hover{
     	border: 2px solid var(--blue);
     }


     .testimonios .box-testimonios .card-testimonio .testimonio-text:hover h4{
     	color: 2px solid var(--blue);
     }

     /** footer **/

     .footer{
     	position: relative;
     	width: 100%;
     	height: 100%;
     	background: url(../img/footer.jpg);
     	background-attachment: fixed;
     	background-position: center;
     	background-size: cover; 
     }

     .footer .deg-footer{
     	position: absolute;
     	width: 100%;
     	height: 100%;
     	
     	background: rgba(0,0,0,0.6);
     }

     .footer .ejeZfooter{
     	position: relative;
     	width: 100%;
     	height: 100%;
     }

     .footer .footer-content{
     	width: 90%;
     	padding-top: 100px;
     	margin: auto;
     }

     .footer .footer-content .footer-title{
     	width: 50%;
     	margin:auto;
     	border:2px solid #fff;
     	padding: 15px;
     }

      .footer .footer-content .footer-title h2{
      	margin-bottom: 10px;
      	color: #fff;
      	font-size: 30px;
      	font-weight: normal;
      	text-align: center;
      }

      .footer .footer-content .footer-title hr{
      	width: 80%;
      	margin: auto;
     }

     .footer .footer-content .formulario-content{
     	width: 60%;
     	background: #fff;
     	border-radius: 20px;
     	border: 2px solid var(--red);
     	margin: 50px auto;
     	padding: 30px; 
     	margin-bottom: 150px;
     }

     .footer .footer-content .formulario-content #formulario{
     	display: flex;
     	justify-content: center;
     	flex-direction: column;
     }

     .footer .footer-content .formulario-content #formulario label{
     	text-align: center;
     	color: var(--black);
     	font-size: 22px;
     	margin: 30px 0px 10px 0px;
     }

     .footer .footer-content .formulario-content #formulario input{
     	width: 90%;
     	height: 35px;
     	margin: auto;
     	border:2px solid var(--red);
     	border-radius: 24px;
     	outline: none;
     	text-align: center;
        font-size: 17px;
        color: var(--black);


     }

     .footer .footer-content .formulario-content #formulario textarea{
     	width: 90%;
     	height: 200px;
     	margin: auto;
     	border:2px solid var(--red);
     	border-radius: 24px;
     	outline: none;
        font-size: 15px;
        color: var(--black);
        padding: 20px;
     }

     .footer .footer-content .formulario-content #formulario .send{
     	width: 100%;
     	display: flex;
     	justify-content: center;
     	margin: 40px 0px;
     }

     .footer .footer-content .formulario-content #formulario .send button{
    width: 150px;
	height: 40px;
	background: var(--red);
	border-radius: 24px;
	border: none;
	outline: none;
	font-size: 22px;
	color: #fff;
	text-align: center;
	margin-top: 20px;
	cursor: pointer;
	transition: 0.5s;	

     }

/**
      .footer .footer-content .formulario-content #formulario .send button:hover{
      	background: var(--blue);
      }


      .footer .footer-content .footer-text{
      	position: absolute;
      	bottom: 0;
      	left: 0;
      	width: 100%;
      	height: 60px;
      	background: rgba(0,0,0,0.8);
      	border-top: 5px solid #fff;

      	display: flex;
      	justify-content: center;
      	align-items: center;
      }

.footer .footer-content .footer-text p{
	color: #fff;
	font-size: 20px;

}
**/

/** media query **/

@media only screen and (max-width: 900px){

	.btn-menu > .fa-bars{
	display: block;
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 28px;
	cursor: pointer;
}

.btn-menu > .fa-bars:hover{
	color: var(--red);
}

.btn-menu > .fa-times{
	color: var(--red);
}

   .menu .list-container{
   	position: absolute;
   	top: 60px;
   	left: -100%;
   	width: 100%;
   	height: calc(100vh - 60px);
   	background: #fff;
   }

   .menu .list-container .lists{
   	width: 100%;
   	height: 100%;
   	display: flex;
   	justify-content: center;
   	align-items: center;
   	flex-direction: column;
   	border-top: 5px solid var(--red);
   }

   .menu .list-container .lists li{
   	width: 90%;
   	margin: 10px 0px;
   	border-bottom: 1px solid var(--red);
   	text-align: center;
   }

      .menu .list-container .lists li a{
   	font-size: 20px;
   	padding-bottom: 10px;
   }

   .menu .list-container .lists li a.activo{
   	background: none;
   	color: var(--red);
   }

   .menu .list-container .lists li a:hover{
   	background: none;
   	color: var(--red);
   }


}

/**shop**/

.single-product-area .zigzag-bottom {background-color: #f4f4f4}

.single-product-area {
  padding: 80px 0 130px;
}
.product-sidebar-price > ins {
    color: #5a88ca;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.add_to_cart_button {
    background: #fb7813;
    border: medium none;
    color: #fff;
    padding: 6px 25px;display: inline-block
}
.add_to_cart_button:hover {background-color: #84a9ac;}
form.cart {
    margin-bottom: 25px;
}
.single-shop-product h2 {
    font-size: 20px;
    margin: 10px 0;
}
.product-option-shop {
    margin-top: 15px;
}

.single-shop-product {margin-bottom: 50px}

.pagination > li > a, .pagination > li > span {
  color: #5a88ca;
}
















