﻿@model WebApplication7.DAL.Sp_Telefono
@using WebApplication7.Models;

@{
    ViewBag.Title = "AgregarPubli";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .formu {
        color: white;
        height: auto;
        width: 50%;
        opacity: ;
        background: var(--black);
        border-radius: 20px;
        border: 2px solid var(--red);
        margin: 50px auto;
        padding: 30px;
        margin-bottom: 150px;
    }
    body {
        background: url('../../EstiloUser/img/img-60.jpg');
        background-position: top;
        background-attachment: fixed;
    }

        body:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.3);
        }
</style>
<head>


</head>


<body>
    <div style="color:#ffffff; text-align:center;margin-top:100px;position:relative" class="welcome">
        <h1 style="font-size:60px">Vende tu dispositivo</h1>
        <hr style="background: #fff; width: 50%; margin: 10px auto;">


    </div>
    @using (Html.BeginForm("AgregarPubli", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.AntiForgeryToken()
        <div style="position:relative" class="formu">
            <h2 style="position:relative">Agregar Publicación</h2>
            <div class="form-horizontal">
                <h4>Ingrese sus datos</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(model => model.Marca, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Marca, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Marca, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Especs, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Especs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Especs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Precio, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Foto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <input type="file" name="file" id="file" style="width=100%;" />

                        <!-- Html.EditorFor(model => model.Foto, new { htmlAttributes = new { class = "form-control" } })-->
                        @Html.ValidationMessageFor(model => model.Foto, "", new { @class = "text-danger" })
                    </div>
                </div>



                <input style="margin-left:140px;justify-content:center;width: 120px;height: 30px; background: var(--red);border-radius:24px;border:none;font-size: 17px;color: #fff;text-align: center;margin-top: 10px;cursor: pointer" value="Enviar" type="submit" />

                <div>Recuerde que su publicación deberá ser aprobada por un administrador para aparecer en la página.</div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</body>