﻿@using WebApplication7.Models;
@{
    ViewBag.Title = "CheckoutDetalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<h2>Checkout Detalles</h2>

@if (Session["cart"] == null)
{
    <div class="alert alert-danger">
        <strong>No hay productos en el carrito</strong>
    </div>

}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Telefono</th>
                <th>Cantidad</th>
                <th>Añadir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Item item in (List<Item>)Session["carro"])
            {
                <tr>
                    <td>@item.Telefono.Marca</td>
                    <td>@item.Telefono.Modelo</td>
                    <td>@item.Cantidad</td>
                    <td>
                        <a href="@Url.Action("AddCarrito", "Home", new { IdTelefono = item.Telefono.IdTelefono, url="Checkout" })">
                            <i class="fa fa-plus"></i>
                        </a>
                        <a href="@Url.Action("DecreaseQty", "Home", new { IdTelefono = item.Telefono.IdTelefono })">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <a class="btn btn-success" href="@Url.Action("CheckoutDetails","Home")">Checkout >></a>

}

