﻿@using WebApplication7.Models;
@{
    ViewBag.Title = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Scripts.Render("~/bundles/modernizr")
    <header>


        <div style="height: 200px; background:url('../../EstiloUser/img/img-8.jpg');	position: relative;	background-attachment: fixed;
	background-position:center;
	background-size:cover;" " class="img-header">
            <div class="welcome">
                <h1>Checkout</h1>
                <hr>


            </div>
        </div>
    </header>
<h2>Checkout</h2>
@if (Session["carro"] == null || ViewBag.Amount <= 1)
{
    <div class="alert alert-danger">
        <strong>No hay productos en el carrito</strong>
    </div>

}
else
{
    <p>Valor: @ViewBag.Amount</p>
    <p>Orden: @ViewBag.BuyOrder</p>
    <form action="@ViewBag.FormAction" method="post">


        <input type="hidden" name="token_ws" value="@ViewBag.TokenWs" />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Item item in (List<Item>)Session["carro"])
                {
                    <tr>
                        <td>@item.Telefono.Marca</td>
                        <td>@item.Telefono.Modelo</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Telefono.Precio</td>
                        <td>
                            <a href="@Url.Action("AddCarrito", "Home", new { IdTelefono = item.Telefono.IdTelefono, url="Checkout" })">
                                <i class="fa fa-plus"></i>
                            </a>
                            <a href="@Url.Action("DecreaseQty", "Home", new { IdTelefono = item.Telefono.IdTelefono })">
                                <i class="fa fa-minus"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        @if (ViewBag.Amount <= 1)
        {

        }
        else
        {
            Session["carro"] = null;
            <button type="submit" class="btn btn-primary">Pagar</button>
        }

        <!-- <a class="btn btn-success" href="Url.Action("CheckoutDetails","Home")">Pagar >></a>-->
    </form>

}