﻿@model WebApplication7.Models.Home.HomeIndexViewModel

@{
    ViewBag.Title = "Comprar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>


    <div style="height: 400px; background: url('../../EstiloUser/img/img-3.jpg'); position: relative; background-attachment: fixed; background-position: center; background-size: cover;" class="img-header">
        <div class="welcome">
            <h1>Catálogo</h1>
            <hr>

            <button id="abajo">Ver Abajo</button>
        </div>
    </div>
</header>
<body>
    <section class="testimonios">
        <div class="testimonios-title">
            <h2>Comprar</h2>
            <hr style=" width: 300px">
        </div>
    </section>


    <div style="margin:auto;margin-top:50px; display:flex;width:1500px;height:2000px; " class="single-product-area" >
        @foreach (var item in Model.ListaPublis)
        {


            <div class="container">



                <div style="margin-top:10px;" class="single-shop-product">

                    <div class="product-upper">
                        <img src="img/product-2.jpg" alt="">
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px;border: 2px solid #fb7813;border-radius: 20px;width: 235px;height:400px;">
                        <div class="thumbnail product-item" style="border-radius: 5%; height: 260px; width: 200px;">

                            <img class="" title="FotoTelefono" asp-action="DetallesPubli" asp-route-id="@item.IdTelefono"
                                 style="cursor:pointer;height:250px; "
                                 src="~/TelefonoImg/@item.Foto" />
                            <div>  @Html.ActionLink("Click para ver detalles", "DetallesPubli", new { IdTelefono = item.IdTelefono }) </div>

                            <div class="caption">
                                <h5>@item.Marca</h5>
                                <h5>@item.Modelo</h5>
                                <p>$@item.Precio</p>
                                <p>

                                    @using (Html.BeginForm("AddCarrito", "Home", new { IdTelefono = item.IdTelefono }, FormMethod.Post))
                                    {<div class="product-option-shop">

                                            <button type="submit" style="position:center" class="pull-right add_to_cart_button">Añadir al carrito</button>
                                        </div>
                                    }

                            </div>
                        </div>
                    </div>






                </div>

            </div>



        }
    </div>


</body>
<!-- / -->