﻿@model WebApplication7.DAL.Sp_Telefono

@{
    ViewBag.Title = "DetallesPubli";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<head>

    @Scripts.Render("~/bundles/modernizr")

</head>

<header>


    <div style="height: 400px; background: url('../../EstiloUser/img/img-3.jpg'); position: relative; background-attachment: fixed; background-position: center; background-size: cover;" class="img-header">
        <div class="welcome">
            <h1>Detalle Publicacion</h1>
            <hr>

            <button id="abajo">Ver Abajo</button>
        </div>
    </div>
</header>

<body style="background-color:#393a44">

    <div style="margin: 0px auto;border: 2px solid #fb7813; border-radius: 10px;width:1000px;margin-top:30px;background-color: #FFFFFF;" id="container">


        <section id="section">
            <hr />
            <article style="width:450px;float:left;padding: 10px 10px 10px 10px; " id="articulo1">
                <img src="~/TelefonoImg/@Html.DisplayFor(model=>model.Foto)" style="cursor: pointer; height: 400px;" />
                <hr />
                <p style="text-align:center;"><i class='fas fa-shield-alt' style='font-size:30px'></i></p>
                <h4 style="text-align:center">Tus compras están seguras con nosotros</h4>
                <hr />
                <p style="text-align:center;"><i class='fas fa-wallet' style='font-size:24px'></i></p>
                <h4 style="text-align:center">Puedes pagar con cualquier tarjeta local o internacional</h4>
                <hr />

            </article>

            <article style="width:450px;float:right;padding: 10px 10px 10px 10px; " id="articulo2">
                <h1 style="text-align:justify;font-weight:900">  @Html.DisplayFor(model => model.Marca) @Html.DisplayFor(model => model.Modelo)</h1>
                <hr />
                <h4 style="text-align:justify">  @Html.DisplayNameFor(model => model.Estado) :  @Html.DisplayFor(model => model.Estado)   |   @Html.DisplayNameFor(model => model.Marca) : @Html.DisplayFor(model => model.Marca)   |   @Html.DisplayNameFor(model => model.Modelo) : @Html.DisplayFor(model => model.Modelo)</h4>
                <hr />
                <h4 style="text-align:justify">Especificaciones :  @Html.DisplayFor(model => model.Especs) </h4>
                <hr />
                <h4 style="text-align:justify;color:red;font-weight:700">@Html.DisplayNameFor(model => model.Precio) :  $@Html.DisplayFor(model => model.Precio) CLP</h4>
                <hr />
                <h3 style="padding-top:150px;color:limegreen;font-weight:700;font-size:20px  "><i class='fas fa-truck' style='font-size:24px'></i> Envios Hacia todo el Pais</h3>
                <h3 style="padding-top:5px;color:limegreen;font-weight:700;font-size:20px  "><i class='fas fa-store-slash' style='font-size:24px'></i> Recógelo en cualquier empresa de envío</h3>
                @using (Html.BeginForm("AddCarrito", "Home", new { IdTelefono = Html.DisplayFor(model => model.IdTelefono) }, FormMethod.Post))
                {
                    <div style="margin-top:50px;float:left;" class="product-option-shop">
                        <button style="height:50px;border-radius:24px" type="submit" class="pull-right add_to_cart_button">Añadir al carrito</button>
                    </div>
                }
            </article>








            <dl style="color:white" class="dl-horizontal">



                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>
                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    $@Html.DisplayFor(model => model.Precio) CLP
                </dd>





            </dl>
            <hr />
        </section>

    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</body>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>