﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" charset="utf-8" />
    <title>Final</title>
</head>
<body>
    <p>Valor: <font id="amount"></font></p>
    <p>Codigo de autorizacion: <font id="authorizationCode"></font></p>
    <p>Codigo de respuesta: <font id="responseCode"></font></p>
    <script>
        document.getElementById('amount').innerHTML = window.localStorage.getItem('amount');
        document.getElementById('authorizationCode').innerHTML = window.localStorage.getItem('authorizationCode');
        document.getElementById('responseCode').innerHTML = window.localStorage.getItem('responseCode');
    </script>
</body>
</html>
