﻿@{
    ViewBag.Title = "Home Page";
}
@model WebApplication7.DAL.Sp_Ticket
@using WebApplication7.Models;
    <style>

        .formu {
            color: white;
            height: auto;
            width: 50%;
            opacity: 0.9;
            background: var(--black);
            border-radius: 20px;
            border: 2px solid var(--red);
            margin: 50px auto;
            padding: 30px;
            margin-bottom: 150px;
        }
        .btt {
            width: 120px;
            height: 30px;
            background: var(--red);
            border-radius: 24px;
            border: none;
            font-size: 17px;
            color: #fff;
            text-align: center;
            margin-top: 20px;
            cursor: pointer
        }

            .btt:hover {
                background: var(--blue)
            }
    </style>
<body>
    <header>
        <div class="img-header">
            <div class="welcome">
                <h1>Sell-Phone</h1>
                <hr>
                <p>Los Mejores Precios</p>
                <button id="abajo">Ver Abajo</button>
            </div>
        </div>
    </header>
    <main>
        <!-- arrobaif (User.Identity.IsAuthenticated)
        {
            <h1>¡Bienvenido arroba(User.Identity.IsAuthenticated ? HttpContext.Current.User.Identity.Name : "Invitado")</h1>
            <a href="arrobaUrl.Action("CerrarSesion","Home")"></a>
        }
           -->
        <!--Acerca de nosotros-->
        <section class="acerca-de">


            <div class="info-container">
                <h1>Acerca de Nosotros</h1>
                <p>Somos Sell-Phone, una plataforma creada para que puedas comprar, vender o cotizar un telefono movil de primera o segunda mano con otros usuarios. </p>
                <p>Nuestro compromiso es brindarte seguridad y confianza en tu transacción</p>
                <p>¡Da el paso y comienza ya!</p>


                <div class="about-gallery">
                    <img src="/EstiloUser/img/img-9.jpg">
                    <img src="/EstiloUser/img/img-13.jpg">
                    <img src="/EstiloUser/img/img-17.jpg">
                </div>

                <div class="about-more"><button>Leer mas</button></div>

            </div>

        </section>




        <!-- testimonios -->
        <section class="testimonios">
            <div class="testimonios-title">
                <h2>Testimonios</h2>
                <hr>
            </div>

            <div class="box-testimonios">

                <div class="card-testimonio">
                    <div class="card-img"><img src="/EstiloUser/img/peaple-1.jpg" alt=""></div>
                    <div class="testimonio-text">
                        <h4>Amanda Castillo</h4>
                        <p>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    </div>
                </div>

                <div class="card-testimonio">
                    <div class="card-img"><img src="/EstiloUser/img/peaple-2.jpg" alt=""></div>
                    <div class="testimonio-text">
                        <h4>Amanda Castillo</h4>
                        <p>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    </div>
                </div>

                <div class="card-testimonio">
                    <div class="card-img"><img src="/EstiloUser/img/peaple-3.jpg" alt=""></div>
                    <div class="testimonio-text">
                        <h4>Amanda Castillo</h4>
                        <p>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    </div>
                </div>

                <div class="card-testimonio">
                    <div class="card-img"><img src="/EstiloUser/img/peaple-4.jpg" alt=""></div>
                    <div class="testimonio-text">
                        <h4>Amanda Castillo</h4>
                        <p>ut I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful.</p>
                    </div>
                </div>
            </div>
        </section>


    </main>
    <section style="position:absolute" class="footer">

        <div class="deg-footer"></div>

        <div class="ejeZfooter">
            <div class="footer-content">
                <div class="footer-title">
                    <h1 style="color:white;text-align:center">Formulario de Contacto</h1>
                    <hr>
                </div>

                <div style="font-size: 17px;text-align: center;" class="formu">
                    <hr />
                    @using (Html.BeginForm("AgregarTicket", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <form id="formulario">

                            <label for="user">Email:</label>
                            <div  style="color:black" >
                                @Html.EditorFor(model => model.Email)
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @type = "email" })
                            </div>

                            <label for="mensaje">Escribe tu mensaje:</label>
                            <div style="color:black">
                                @Html.TextAreaFor(model => model.Descripcion, new { htmlAttributes = new { @class = "Form-control" } })
                                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                            </div>
                            <input class="btt"  type="submit" />

                            <div class="mensaje-form">
                                <p>Escribenos un mensaje, con gusto tendras una respuesta rapidamente</p>
                            </div>
                        </form>
                    }
                </div>
            </div>
        </div>




    </section>

</body>