﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Return</title>
</head>
<body>
    @if (ViewBag.ResponseCode == 0)
    {
        <form action="@ViewBag.UrlRedirection" method="post" id="returnform">
            <input type="hidden" name="token_ws" value="@ViewBag.TokenWs" />
        </form>
        <script>
            window.localStorage.clear();
            window.localStorage.setItem("authorizationCode", @ViewBag.AuthorizationCode);
            window.localStorage.setItem("amount", @ViewBag.Amount);
            window.localStorage.setItem("responseCode", @ViewBag.ResponseCode);
            document.getElementById('returnform').submit();
        </script>
    }

    
</body>
</html>
