﻿
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    @Scripts.Render("~/bundles/modernizr")

</head>
<style>
    .formu {
        color: white;
        height: auto;
        width: 50%;
        opacity: 0.9;
        background: var(--black);
        border-radius: 20px;
        border: 2px solid var(--red);
        margin: 50px auto;
        padding: 30px;
        margin-bottom: 150px;
    }
    body{
        background: url('../../EstiloUser/img/img-17.jpg');
        background-position: top;
        background-attachment:fixed;
        
    }

        body:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
            
        }
    .btt {
        width: 120px;
        height: 30px; 
        background: var(--red);
        border-radius:24px;
        border:none;
        font-size: 17px;
        color: #fff;
        text-align: center;
        margin-top: 20px;
        cursor: pointer
    }
    .btt:hover{
        background:var(--blue)
    }
 </style>
<body >
    
        <div style="color: #ffffff;text-align: center;margin-top: 100px;position: relative" class="welcome">
            <h1 style="font-size:60px">Inicia Sesión</h1>
            <hr style="background: #fff; width: 50%; margin: 10px auto;">


        </div>


        @ViewBag.Registrado

<form action="@Url.Content("~/Acesso/Login")" style="margin-top:120px;position:relative" class="formu" method="post">
    <hr />
    <div class="form-group">
        <label for="exampleInputEmail1" style="font-size:18px">Direccion Email</label>
        <input style=" height:40px" type="email" class="form-control" name="User" aria-describedby="emailHelp">
        <small style="color:white" id="emailHelp" class="form-text text-muted">Jamás compartiremos tu Email.</small>
    </div>
    <div class="form-group">
        <label style="font-size:18px" for="exampleInputPassword1">Contraseña</label>
        <input style=" height:40px" type="password" class="form-control" name="Pass">
    </div>

    <input class="btt" value="Entrar" type="submit" />


    @ViewBag.Error

</form>
   
</body>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
