﻿@model WebApplication7.DAL.Sp_Usuarios

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>

    @Scripts.Render("~/bundles/modernizr")

</head>
<style>


    body {
        background: url('../../EstiloUser/img/img-17.jpg');
        background-position: top;
        background-attachment: fixed;
    }

        body:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0,0,0,0.5);
        }
    .btt {
        width: 120px;
        height: 30px;
        background: var(--red);
        border-radius: 24px;
        border: none;
        font-size: 17px;
        color: #fff;
        text-align: center;
        margin-top: 20px;
        cursor: pointer
    }

        .btt:hover {
            background: var(--blue)
        }
</style>
<body>


    <div style="color: #ffffff;text-align: center;margin-top: 100px;position: relative" class="welcome">
        <h1 style="font-size:60px">Registrate</h1>
        <hr style="background: #fff; width: 50%; margin: 10px auto;">


    </div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="color:white;opacity: 0.9;width: 60%;position:relative; background: var(--black); border-radius: 20px; border: 2px solid var(--red); margin: 50px auto; padding: 30px; margin-bo">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @ViewBag.Error
            <h3> Información personal</h3>
            <div class="form-group">
                <label class="control-label col-md-2">Rut</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.RutUsuario, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.RutUsuario, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ciudad, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ciudad, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ciudad, "", new { @class = "text-danger" })
                </div>
            </div>
            <h3> Cree sus datos para iniciar sesión</h3>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Contrasena, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Contrasena, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Contrasena, "", new { @class = "text-danger" })
                </div>
            </div>





            <div class="form-group">
                <div style="position:relative" class="col-md-offset-2 col-md-10">
                    <input  class="btt" value="Crear Cuenta" type="submit" />
                </div>
            </div>
        </div>
    }
</body>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
