﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<link rel="stylesheet" href="/EstiloUser/css/style.css">

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap" rel="stylesheet">

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body style="background-color:#fb7813">
    <section class="content-header">
        <div class="img-header">
            <div class="welcome">
                <h1>Error, no tienes permiso</h1>
                <hr>
                <p>
                    <a style="color:#fb7813;font-size:25px" href="@Url.Action("Login","Acesso")">Click aquí para iniciar sesión</a>
                </p>
            </div>
        </div>

    </section>

</body>
</html>
